*{
color:white;
font-family:"JetBrains Mono";
}


body{
background: black;
}

.nav{
font-size:20px;
font-weight:bold;
margin-left: 40px;
margin-right:40px;
}

#left{
margin-left:70%;
}

#topbar{
width:100%;
height:60px;
color:green;
display:flex;
align-items:center;
}

section{
display:flex;
align-items:right;
text-align:left;
width:60%;
font-size:19px;
}

#content{
align-items:right;
position:absolute;
top:20%;
}

h3{
color:#d0d0d0;
}

#c , #a{text-decoration:none;}

.low{
text-decoration:none;
font-weight:bold;

}




















